body {
    font-family: Arial, sans-serif;
    background-color: #F0F3F5;
    padding: 20px;
    margin: 0;
}

.contact-container {
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #7B2D26;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
    color: #555;
}

.contact-form label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: -10px;
}

.contact-form textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: #7B2D26;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}

@media screen and (max-width: 768px) {
    .contact-container {
        width: 90%;
    }
}