table {
  font-family: Verdana;
  font-size: 14px;
  border-collapse: collapse;
  width: 250px;
  margin: auto;
}

form {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td,
th {
  padding: 12px 15px;
  text-align: left;
  margin: 0;
}

tbody tr:nth-child(2n) {
  background-color: #eee;
}

th {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: bisque;
}

img {
  width: 100px;
  text-align: right;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: auto;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  table {
    width: 100%;
  }
  img {
    width: 80px;
  }
}
