form{
    text-align: center;
}
button{
    width: 11.25%;
    height: 20px;
}
body, head{
    background-color: whitesmoke;
    font-family:sans-serif;
}
h1{
    text-align: center;
}
#submit{
    background-color: #77DD77;
    margin-top: 20px;
    border-radius: 5px;
}
nav{
    text-align: center;
    background-color:rgb(65, 187, 192);
}
#jokebox{
    background-color: beige;
}
#fetchData{
    display: block;
    margin: 0 auto;
}
a{
    text-decoration:none;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}