body{
    background-color: rgb(97, 152, 235);
}
div {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 30px;
    margin: 100px auto; 
}
h3{
    font-size: 30px;
}
input{
    height:30px;
    display: block;   
    margin: 0 auto;    
    font-size: 30px;
    text-align: center;
    width:400px;
}
button {
    display: block;       
    margin: 10px auto;    
    font-weight: lighter;
    font-size:30px;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 186);
}
button:hover{
    background-color: rgb(3, 3, 96);
    font-weight: bolder;
}