.top-part{
    background-color: rgb(220, 181, 205);
    padding-bottom: 40px;
    color: white;

    .hero-section {
        div {
            text-align: center;
            .header {
                font-size: 35px;
                margin-bottom: 5px;
            }
            .subheader {
                margin-bottom: 10px;
            }
            button {
                border-radius: 2px;
            }
        }
    }

}

/* desktop */
@media screen and (min-width: 768px) {
    .about-me {
        margin-left: 170px;
        margin-right: 500px; 

        .desc {
            font-size:30px;
            margin-bottom: 5px;
        }
        div {
            padding-left:4px;
        }
        img {
            border-radius: 50%;
            width: 230px;
        }
    }

    .middle-part{
        margin-left: 170px;
        margin-right: 170px; 
        padding-top: 50px;
        padding-bottom: 50px;

        .prjdesc {
            font-size:30px;
            margin-bottom: 5px;
        }

        .prjs {
            border-style: solid;
            border-width: 1px;
            border-color: rgb(182, 182, 182);
            border-radius: 5%;
            padding-left: 15px;
            padding-right: 15px;
            padding-block: 8px;

            img {
                display:block;
                margin:auto;
            }

            .portfolio-titles {
                font-size: 20px;
            }
        }
    }

    .bottom-part{
        background-color: rgb(220, 181, 205);
        padding-bottom: 40px;
        color: white;

        .contact-me{
            margin-left: 170px;
            margin-right: 500px; 

            .contactme {
                font-size:30px;
                margin-bottom: 5px;
            }
        }
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .about-me {
        margin:13px;

        .desc {
            font-size:30px;
            margin-bottom: 5px;
        }
        div {
            padding-left:4px;
        }
        img {
            border-radius: 50%;
            width: 230px;
        }
    }

    .middle-part{
        margin:20px;
        padding-top: 50px;
        padding-bottom: 50px;

        .prjdesc {
            font-size:30px;
            margin-bottom: 5px;
        }

        .prjs {
            border-style: solid;
            border-width: 1px;
            border-color: rgb(182, 182, 182);
            border-radius: 5%;
            padding-left: 15px;
            padding-right: 15px;
            padding-block: 8px;

            img {
                display:block;
                margin:auto;
            }

            .portfolio-titles {
                font-size: 20px;
            }
        }
    }

    .bottom-part{
        background-color: rgb(220, 181, 205);
        padding-bottom: 40px;
        color: white;

        .contact-me{
            margin: 20px;

            .contactme {
                font-size:30px;
                margin-bottom: 5px;
            }
        }
    }
}

