h1 {
    color: brown;
    font-size: 50px;
    text-align: center;
    background-color: antiquewhite;
    padding: 50px;
}



img {
    width: 500px;
    float: left;
    margin-right: 70px;
}

h2 {
    color: goldenrod;
    font-size: 30px;
    margin-bottom: 8px;
    text-decoration: underline;
}

p {
    font-size: 20px;
}

table {
    border-collapse: collapse;
}
td {
    border: 2px solid;
    padding: 9px;
}

thead {
    font-size: 20px;
    font-weight: bold;
}

form {
    text-align: center;
}

h4 {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.intro {
    float: none;
    margin-right: auto;
    margin-left: auto;
    display: block;
}