body {
    font-family: Arial, sans-serif;
    background-color: #fffaf0;
    color: #333;
    margin: 0;
    align-items: center;
    text-align: center;
}

h1 {
    color: darkorange;
    text-align: center;
}

h2 {
    color: rosybrown;
    text-align: center;
    margin: 30px 30px;
    font-size: xx-large;
}

h3 {
    color: black;
    text-align: center;
    margin: 30px 30px;
    font-size: x-large;
}

.image-container {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 300;
    display: block;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto auto;
}

th,
td {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.video-container {
    text-align: center;
    margin-top: 30px;
}


video {
    width: 70%;
    height: auto;
    margin: 30px 30px;
}

label {
    font-size: large;
    font-style: italic;
    margin: 30px 30px;
}

.large-textfield {
    width: 300px;
    height: 20px;
    font-size: 18px;
    padding: 8px;
}

p {
    font-size: large;
    font-style: italic;
    margin: 0px 30px;
}

.form-row {
    display: flex;
    align-items: center;

}

.form-row label {
    font-size: large;
    font-style: italic;
    min-width: 300px;
}

button {
    align-self: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

button {
    width: 100;
    height: 20;
    font-size: 13px;
    padding: 10px 20px;
}