

table, th, td {
    background-color: white;
}

.day {
    font-size: 10px;
}

.italic {
    font-size: 10px;
    font-style: italic;
}

::placeholder {
    all: unset;
}

select {
    text-align: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: green;
}

textarea {
    width: 80%;
    text-align: center;
    font-size: 10px;
}

input {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type=submit] {
    background-color: rgb(2, 193, 2);
    border: none;
    color: white;
}

input[type=reset] {
    background-color: red;
    border: none;
    color: white;
}

input[type=submit]:hover {
    background-color: green;
}

input[type=reset]:hover {
    background-color: rgb(164, 0, 0);
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('assets/background-desktop.jpg');
    }
    .mobileFooter {
        display: none;
    }
    .mobile {
        display: none;
    }
    form {
    border: 5px solid gray;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    }

}

@media screen and (max-width: 767px) {
    body {
        background-image: url('assets/background-mobile.jpg');
    }
    .desktop {
        display: none;
    }
    .desktopFooter {
        display: none;
    }
    th {
        font-weight: bold;
        background-color: rgb(143, 41, 0);
    }
    td {
        background-color: rgb(84, 0, 0);
    }
    form {
        border: 5px solid gray;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        background-color: lightgray;
    }
}

div :not(form) {
    color: hotpink;
}