div {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.main-container {
    margin: 30px auto;
    width: 85%;
}

input, button, select {
    display: block;
    margin: 10px auto;
    background-color: rgb(223, 220, 248);
    padding: 5px;
    border: 3px solid rgb(70, 46, 94);
    border-radius: 5px;
    width: 85%;
}

a {
    display: block;
    margin-left: 30px;
    text-decoration: none;
    color: blue;
}

button {
    background-color: rgb(70, 46, 94);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(50, 30, 70);
}

.save-button {
    display: inline-block;
    margin: 10px auto;
    padding: 5px;
    background-color: rgb(46, 70, 94);
}

#entriesList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.entry-card {
    width: 85%;
    border: 1px solid #232967;
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, rgb(56, 140, 189)15%, #8f1e8f);
}

.entry-details {
    border: 1px solid #232967;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #5ca3cc;
}

.entry-field {
    display: flex;
    flex-direction: column;
}

.entry-label {
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    color: gray;
}

.entry-buttons {
    display: flex;
    gap: 0.5rem;
    background-color: #5ca3cc;
    border-radius: 5px;
}