.hero {
    margin: 0 auto;
    text-align: center;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url("../assets/background-desktop.jpg");
    background-size: cover;
    background-color: #0d0d0d;
    margin: 0 auto;
    color: white;
}

.table_div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table {
    padding: 3px;
    border-collapse: collapse;
    color: white;
    margin-bottom: 30px;
}

th, td {
    border: 5px solid grey;
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(42, 52, 65);
}

td {
    background-color: rgb(38, 58, 66);
    align-items: center;
}

label:nth-child(odd) {
    color: rgb(68, 67, 68);
}

form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #cfcfcf;
    padding: 20px;
    color: black;
    border: 8px solid grey;
}

form h4 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-style: italic;
    color: black;
}

.selector {
    text-align: center;
    padding: 5px;
}

form label {
    font-size: 0.9rem;
    margin: 2px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 8px;
    text-align: center;
}

.radio_select {
    text-align: center;
    margin: 10px auto;
    font-size: 0.9rem;
    font-weight: bold;
}

.submit_buttons {
    padding: 3px;
    text-align: center;
}

form button[type="submit"], form button[type="reset"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 10px;
}

form button[type="submit"] {
    background-color: #4CAF50;
}

form button[type="reset"] {
    background-color: #d32f2f;
}

.submit:hover {
    background-color: darkgreen;
    color: white;
}

.reset:hover {
    background-color: darkred;
    color: white;
}

footer {
    background-size: cover;
    background-color: rgb(138, 0, 115);
    padding: 5px;
    width: 100%;
}

.form_footer h4 {
    margin: 0 auto;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .desktop_version {
        display: block;
    }
    .mobile_version {
        display: none;
    }
    .desktop_table {
        display: block;
    }
    .mobile_table {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .desktop_version {
        display: none;
    }
    .mobile_version {
        display: block;
    }
    .desktop_table {
        display: none;
    }
    .mobile_table {
        display: block;
    }
    .hero, .details_and_table {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .first_head_mobile, .first_det_mobile {
        padding-right: 5px;
        border-right: 3px solid grey;
    }

    form {
        width: 300px;
    }

    body {
        background-image: url("../assets/background-mobile.jpg");
    }
    table {
        margin: 0 auto;
        border-collapse: collapse;
        padding: 3px;
    }
    th {
        background-color: rgb(170, 60, 16);
    }
    td {
        background-color: rgb(121, 62, 62);
        align-items: center;
    }

    td img, td iframe, td audio {
        max-width: 95%;
        display: block;
        margin: 10px auto;
    }

    .submit_buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    button {
        width: 100%;
    }

    footer {
        background-color: rgb(45, 45, 117);
    }
}