/* Desktop Styles */

*{
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
}
p{
    font-size: 15px;
    padding-top: 0;
    margin-bottom: 0;
}
h3{
    margin-bottom: 0;
}
hr{
    border: 2px solid white;
    width: 100%;   
    margin: 0;        /* Remove default margins */
    position: relative;
}
label, option, select, textarea{
    color: black;
}
.FEP, #times{
    text-align: center; /* centers input */
    width: 80%; /* adjust the width of input boxes */
    color: grey;
    margin-bottom: 18px;
    margin-top: 7px;
    padding: 5px;
}
.formText{
    margin-top: 5px; /* Adds vertical space below the label */
    margin-bottom: 5px;
    display: block;      /* Makes the label a block element for proper spacing */
}
button{
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 10px 3px;
    padding: 10px 18px;
}
#submit{
    background-color: rgb(85, 151, 85);
}
#reset{
    background-color: rgb(194, 76, 76);
}
#submit:hover{
    background-color: green;
    transition-duration: 0.5s;
}
#reset:hover{
    background-color: red;
    transition-duration: 0.5s;
}
textArea{
    width: 100%;
}
img[alt="Raiders movie cover"]{
    width: 150px;
    height: 150px;
}
@media screen and (min-width: 768px) {
    /* Add your desktop-specific CSS here */
    html{
        text-align: center;
        background-image: url('assets/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    body, main{
        text-align: center;
        outline: none;
    }
    .mobile-table{
        display: none;
    }
    .desktop-table{
        margin: 15px auto; 
        border-collapse: collapse;
        border: 5px solid grey;
        font-size: 12px;
        background-color: rgb(43, 60, 73);
        width: 100%;              /* Make the table take up the full width of its container */    
        max-width: 100%;     
    }
    td{
        border: 8px solid grey;
        text-align: center;
        width: 5%;   
    }
    th{
        width: 10%; /* provides more flexibility for responsive table */
        border: 8px solid grey;
        text-align: center;
        font-size: 12px;
    }
    tr{
        height: 10px;
        width: 100%;              /*  make the table take up the full width of its container */  
        max-width: 100%;    
    }
    form{
        border: 8px solid grey;
        padding:20px;          /* padding for smaller form */
        margin: 50px auto;      /*  centering */
        margin-top: 0;
        width: 30%;              /* Width of the form */
        background-color: lightgray;
        color: black;
        font-style: italic;
        font-weight: bolder;
        font-size: small;
    }
    input[type="checkbox"] {
        margin-bottom: 20px; /*space below checkboxes*/
    }
    #footer2{
        display: none;
    }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
    /* Add your mobile-specific CSS here */
    html{
        text-align: center;
        background-image: url('assets/background-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    body {
        font-size: 14px;
    }
    .mobile-table{
        margin: 15px auto; 
        border-collapse: collapse;
        font-size: 12px;
    }
    tr{
        border: 15px solid grey;
        text-align: center;
        padding: 15px 50px;
    }
    th{
        padding: 8px 30px;
        border: 15px solid grey;
        text-align: center;
        font-size: 12px;
    }
    td{
        border: 15px solid grey;
        text-align: center;
        padding: 15px 5px;
        background-color: rgb(97, 67, 67);
    }
    .title{
        background-color: brown;
    }
    .desktop-table{
        display: none;
    }
    h3{
        font-size: 25px;
    }
    #facts{
        font-size: 23px;
        font-weight: bold;
    }
    form {
        width: 70%;
        padding: 10px;
        margin: 20px auto;
        margin: 15px auto; 
        color:black;
        font-weight: bolder;
        border-collapse: collapse;
        border: 8px solid grey;
        background-color: lightgray;
    }
    #mobile-input{
        width: 200px;  
        height: 40px;
    }
    button{
        border: none;
        border-radius: 3px;
        margin: 10px 3px;
        text-align: center;
        font-size: 15px;
        padding: 10px 110px;
    }
    #footer1{
        display: none;
    }
}

