<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
    <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="validator.html">Validator</a></li>
        <li><a href="crud.html" class="active">User Manager</a></li>
        <li><a href="api.html">Movie Search</a></li>
    </ul>
</nav>
</body>
</html>