<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
    <ul class="nav-links">
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="validator.html">Validator</a></li>
        <li><a href="crud.html">Employee Entry</a></li>
        <li><a href="api.html">Movie Search</a></li>
    </ul>
</nav>
    <h1>Select a page from the navigation bar to begin</h1>
</body>
</html>