body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right:0;
    margin-left:0;
    margin-top:0;
    margin-bottom:2px;
}

body { background-color: whitesmoke;
    font-weight: 500; 
    font-size: 14px; 
    color: black;} 

center#desk-table, th, td {
    border: 5px solid;
    text-align:center;
    }
    table {
        border-collapse: collapse;
      }
      td {
        text-align: center;
      }
      th, td {
        padding: 8px;
        text-align: center;
      }
      th {
        background-color: slategray;
      }
tr
{
  background-color:darkolivegreen;
  color:white;
}
input [type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea{
    height: 35px;
    width: 30%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
select {
    width: 25%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
#demobox {
    width: 80%;
    background-color:gainsboro;
    padding: 10px;
    margin: auto;
    margin-bottom:20px;
    margin-top:20px;
    border-radius: 5px;
    border-color: black;
}
form{
  color:black;}

.box{
  width:160px;
}

h1,h2,h3{
color:white;
  }

  center#phone-table{
    display:none;
  }

  @media only screen and (max-width: 768px) {
    center#phone-table{
      display:block;
    }
    center#desk-table{
      display:none;
    }
  }

  center#phone-table{
    margin:0;
    border:1px;
  }
  .button{
    width: 50px;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    border-color: white;
    min-width: 300px;
  }
