.form{
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 15px;
    background-color: #ffffff;
    border: 3px solid #dddcdf;
    width: 350px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    input{
        margin-bottom: 10px;
        margin-left: 5px;
        width: 300px;
    }
    #submit{
        margin-bottom: 10px;
        width: 300px;
        background-color: #81b0f7;
    }
}


.employee-info{
    text-align: center;
    margin-right: 50px;
    margin-left: 90px;
    float: left;
    width: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 3px solid #dddcdf;
}


.edit{
    width: 75px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #81b0f7;
    margin-bottom: 10px;
}

.deleteBtn{
    width: 75px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #f78181;
}