





iframe {
    object-fit: none;
    object-position: 10px 20%;
}

.header {
    padding: 60px;
    width: 32cm;
    text-align: center;
    background: #FAD4C0;
    color: white;
    font-size: 50px;
  }

  h2 {
    text-align: center;
    
  }




p {
    text-align: center;
    text-indent: 0cm;



}

.scroll {
      background-color: #D8BFD8;
      overflow: auto;
      white-space: nowrap;
      padding: 10px;

}
img {
    padding: 10px;
}

form {
    background-color: #AEE1D8;
    text-align: center;
    height: 7cm;
    width: 35cm;
    align-content:center;
    border: 10px ;

    
    
}

.all {
    display: flex;
    align-items: center;

}

.text {
    flex: 1;
    margin-right: 50px;
    vertical-align: middle;

    
}

.video {
    flex: 1;
   
}