body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #800000;
    color: white;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
}

h1 {
    color: whitesmoke;
}

h2, h3 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: whitesmoke;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #333;
}

th {
    background-color: #800000;
}

.contact-info {
    background-color: #e6e6e6;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

.event-details img {
    width: 50;
    height: auto;
}

.media {
    margin: 20px 0;
}

.form-section {
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form input, form select, form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color: #800000;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: darkred;
}