/* Background of the desktop version */
body {
    background-image: url(StuffNeeded/background-desktop.jpg);
    text-align: center; 
}
.ThisIsAContainer {
    margin-left: 0px;
    margin-right: 0px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 50px;
    box-sizing: border-box;

}
h1 {
    color:white;
}
h2 {
    color: white; 
    font-size: 30px;
}
h3 {
    color: white;
    font-size: 20px;
}
table {
    width: 375px;
    height: 576px;
    border-color: goldenrod; 
    border-radius: 4px;
    background-color: #3f5661;
    text-align: center;
    margin: 0 auto;
    table-layout: fixed;
}
th, td{
    width: calc(100% / 2);
    height: auto; 
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    border: 5px solid lightgray;
}
th {
    width: 600px;
    height: 50px;
    background-color: #093145;
}
td {
    background-color: #3f5661;
    color: goldenrod;
}
form {
    background-color: gainsboro;
    border: 5px solid grey;
    width: 500px;
    margin: 0 auto;
}
.DaysOption {
    text-align: center;
}
#comments {
    width: 300px
}
label, input {
    width: 60%;
    margin: 0 auto;
}
label {
    color: black; 
    font-size: 20px;
}
.wholeTable {
    display: flex;
    gap: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap

}

/* Mobile version */
@media only screen and (max-width: 600px) {
    form {
        width: 100%; /* Wider form on mobile */
    }
    body {
        background-image: url(StuffNeeded/background-mobile.jpg);
        text-align: center;
        padding-left: 225px;
    }
    .wholetable {
        display: block;
    }
    .ThisIsAContainer {
        padding: 0px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 40%;
    }
    #comments {
        width: 70%
    }

    h2 {
        font-size: 24px;
    }
    table {
        width: 200px;
        height: 500px;
        border-color: goldenrod; 
        border-radius: 4px;
        background-color: #3f5661;
        text-align: center;
        margin: 0 auto;
        table-layout: fixed;

    }
    th, td{
        width: calc(100% / 3);
        height: auto; 
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color: white;
        border: 5px solid lightgray;
    }
    th {
        width: 600px;
        height: 50px;
        background-color: #093145;
    }
    td {
        background-color: #3f5661;
        color: goldenrod;
    }
    .specificCell {
        width: 295px
    }
}
