* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-link {
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    position: relative;
    top: 20px;
    left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.home-link:hover {
    text-decoration: underline;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #9cb4dd;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.employee-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 20px;
}

input {
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
}

select {
    outline: 0;
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}

select:hover {
    background-color: #e9e9e9;
}

button {
    outline: 0;
    border: 0;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #386abe;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.employee-form_add-btn {
    margin-top: 30px;
}

#employee-list-title {
    margin-top: 50px;
    margin-bottom: 20px;
    display: none;
    text-align: center;
}

.employee_inner {
    display: flex;
    gap: 20px;
}

.employee_item {
    width: 200px;
    height: 20  0px;
    border-radius: 30px;
    padding: 10px;
    border: 2px solid #adadad;
    text-align: center;
    background: #fff;
}

.employee_item-name {
    font-size: 28px;
    font-weight: bold;
}

.employee_item-age {
    font-size: 56px;
}

.employee_item-sex {
    font-size: 24px;
}

.employee_item-position {
    font-size: 24px;
}

.employee_item_edit-btn {
    margin-top: 10px;
}

.employee_item_delete-btn {
    background-color: #ffc6c6;
    color: rgb(194, 3, 3);
    border: 1px solid rgb(194, 3, 3);
    margin-top: 10px;
}