body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6024c7;
}

header {
    background-color: rgb(239, 174, 224);
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
}

h1, h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    border: 3px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #cccccc;
}

img {
    display: block;
    margin: 20px auto;
}

video, audio {
    display: block;
    margin: 10px auto;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, textarea, button {
    margin-bottom: 10px;
}

