table, th, td {
    border: 1px solid white;
    width: 50%;
    color: white;
    text-align:  center;
}

h1{
    color: white;
    text-align: center;
}

video {
    width: 400px;
    height:500px;
}

body {
    background-image: url("assets/background-desktop.jpg");
    color: white;
}

form{
    text-align: center;
}

.line{
    background-color: white;
}